/* This helps me to dont have to scroll  */
* {
  box-sizing: border-box;
}




:root{
    --Logo-color: #032A53;
    --Primary-color: #0F766E;
    --Secondary-color: #D4A64A;
    --Background-color: #FAFAFA;
    --Text-color: #1E293B;
    --Dark: #090909;

    --sunset: #e0cca2;
    --button-hover: #9d4802;
    --footer: #d7d7d7;
    --zebra1: #eff2f3;
    --zebra2: #dfdfdf;
}

body, footer{
    max-width: 1200px;
    margin: 0 auto;
}

/* hamburger navigation */
.hamburger {
  display: block;
  background: none;
  border: none;
  color: var(--Primary-color);
  cursor: pointer;
}
.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}
/* "\2630" it is called entity */
.hamburger.show::before {
  content: "\00D7";
  font-size: 2rem;
}

/* navigation */
.navigation {
  display: none;
}
.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--Text-color);
    font-family: 'lato';
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.4s ease, color 0.4s ease;

  }

 
.navigation li a:hover{ 
    background-color: var(--Logo-color);
    color: var(--Background-color);
    font-weight: 700;
    border-radius: 8px;
} 

.navigation.show{
  display: block;
}

/* WAYFINDING */
 .navigation a.active {
  border-bottom: 3px solid var(--Logo-color);
  border-radius: 8px;
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding img{
  height: 100px;
  margin: .5rem .5rem .5rem 2rem;
}

h1{
  margin-left: 2rem;
}

footer{
  display: block;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--footer);
  font-family: 'lato';

}

.footer-social{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

footer img{
  width: 25px;
  height: 25px;
  margin: .25rem;
  border: 2px solid var(--Background-color);
  background-color: var(--Background-color);
  border-radius: 3px;
}

.footer-column{
  margin: .5rem;
}


/* GRID AND LIST*/
.member-card {
  border: 1px solid var(--Logo-color);
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}

#members.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  justify-items: center;
  justify-content: center;
}
#members.grid img{
  width: 180px;
  height: auto;
}




#members.list .member-card {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  text-align: left;
  margin-left: 0;
  border-radius: 0;
}

#members.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  align-items: stretch; /* keeps rows centered but full width */
}



#members.list img{
  display: none;
}



.member-card img{
  width: 100%;
  max-width: 150px;
  height: auto;
}


.member-card p, 
.member-card h3 {
  margin: 0.25rem 0;
}

.view-grid-list{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem;
}

#listBtn, 
#gridBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--sunset);
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.view-grid-list img {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;

}

#listBtn:hover, 
#gridBtn:hover {
  background-color: var(--Primary-color);
  color: var(--Background-color);
  font-size: larger;
  font-weight: 700;
}


/* Zebra list view */
#members.list .member-card:nth-child(odd) {
  background-color: var(--zebra1);
}

#members.list .member-card:nth-child(even) {
  background-color: var(--zebra2);
}


/* home Page */

.hero {
  position: relative;
}

.hero img {
    width: 100%;
    max-width: none;
    display: block;
}
/* GRID HOME */
#home-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(180px, 1fr);
  padding: .25rem;

}
#home-grid .card {
  min-height: 300px; /* adjust to your design */
}


/* CTA - join the chamber */
.button {
  text-decoration: none;
  color: var(--Logo-color);
  border: 2px solid var(--Dark);
  border-radius: 50px;
  padding: 1rem;
  background-color: var(--Secondary-color);
  font-weight: 700;
  display: block;
  width: fit-content;
  margin: 0 auto;
  /* transition to hover */
  transition: background-color 0.4s ease, color 0.4s ease;
}

.button:hover {
  background-color:var(--button-hover);
  color: var(--Background-color);
}

/* Positioning the parent */
.cta {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
  z-index: 10;
}

/*Cards for Home weather and forecast*/
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;

    border: 3px solid var(--Logo-color);
    background-color: var(--zebra2);
    border-radius: 8px;
    margin: 1rem auto;
    padding: 0;
  }

.card h2 {
    text-align: center;
    padding: .9rem 1.2rem;
    margin: 0;
    color: var(--Background-color);
    background-color: var(--Logo-color);
    letter-spacing: .3px;
    font-size: 1.2rem;
    font-weight: 600;
}

.card img {
    display: block;
    margin: 0 auto;
    background-color: var(--Text-color);
    border-radius: 20px;
}

.card, #home-grid {
  max-width: 100%;
  overflow-x: hidden;
}

.card p {
    padding: 0;
    line-height: 2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
    margin: 0 auto;
} 

#forecast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.forecast-day{
  padding: 1rem;
  background-color: var(--zebra1);
  text-align: center;
}

.forecast-day p{
  padding: 0;
  margin: 2rem 0;

}



#graphic{
  width: 85px;
  height: auto;
  display: block;
  margin: 1rem auto .2rem;
}

.card #description {
    color: var(--Logo-color);
    margin: 2rem;
    font-weight: 700;
    text-align: center;
}

.card #temperature{
    color: var(--Text-color);
    text-align: center;
    font-weight: 700;
}



p{
  margin: 1.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2{
  margin: 2rem;
  font-family: lato;
}

/* Spotlight -Home */


#spotlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  gap: 1.5rem;
  padding: 1rem;
  justify-items: center;
  justify-content: center;
}

.spotlight-card {
  border: 1px solid var(--Logo-color);
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  min-width: 250px;
  box-sizing: border-box;
}

.spotlight-card img {
    width: 180px;
    height: auto;
}

.spotlight-card h3{

}
.spotlight-card p{
  padding: 0;
  margin: 0;
}

.level.gold {
    color: #C8A96B;
    font-weight: bold;
}

.level.silver {
    color: #8A8A8A;
    font-weight: bold;
}