@media only screen and (min-width: 38rem) {


    #allplaces div{
        grid-template-areas: 
        "photograph name"
        "photograph description"
        "photograph location";
    }

    #allplaces div img {
        width: 300px;
    }

    #allplaces div img:hover {
	box-shadow: 0 0 10px var(--Primary-color);
    }

}