@media only screen and (min-width: 48rem) {

    .navigation {
        display: block;
        background-color: transparent;
    }

    .navigation ul {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
    }

    .navigation li a {
        padding: 1.5rem;
        text-align: center;
        text-decoration: none;
        margin-top: -75px;
    }

    .hamburger {
        display: none;
    }
   
    .trips-cards,
    #trips-colombia {
        grid-template-columns: repeat(2, 1fr);
    }

      .trip-card img {
        width: 190px;
    }

    #text-api {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    }
    #text-api p {
        flex: 1;
        max-width: 600px;
        margin: 0 auto;
        font-size: large;
    }


    #text-api .card {
        flex: 1;
        max-width: 350px;
        border: 2px solid var(--charcoal);
        border-radius: 8px;
        background-color: var(--clear);
    }
}