*{
  box-sizing: border-box;
}

header {
  display:grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px #ddd;
  column-gap: 8px;
  align-items: end;
}

header img{
  display: block;
  width: 20;
  height: auto;
  padding-bottom: 5px ;
}

header span{
  font-size: 1.2rem;
  color: #005285;
}

/* hamburger navigation */
.hamburger {
  background: none;
  border: none;
  color: #005285;
  cursor: pointer;
}

.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}

/* "\2630" it is called entity */
.hamburger.show::before {
  content: "\00D7";
  font-size: 2rem;
}

/* navigation */
.navigation {
  display: none;
}

.navigation.show{
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: .8rem 10px;
  color: #005285;
  text-decoration: none;
  border-bottom: solid 1px #ddd;
}

.navigation li.current {
  background-color: #eee;
}

.navigation a:hover{
  background-color: #005285;
  color: white;
}
h1 {
  margin-left: 10px;
  color: purple;
}

/* footer */
footer {
  background-color: #eee;
  padding: 1rem 10px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ccc solid 1px;
  border-radius: 22px;
  width: 44px;
  height: 44px;
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover{
  background-color: #ddd;
}