*{
  box-sizing: border-box;
}
:root{
--Logo-color: #800080;
--completed: #0e900e;
--completed-border: #E8FFE8;
--Primary-color: #005285;
--Secondary-color: #2d1849;
--Slate-Gray: #c4cdd7;
--Off-White: #F5F5F5;
}

header {
  display:grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px var(--Slate-Gray);
  column-gap: 8px;
  align-items: end;
  font-family: "Lato", sans-serif;
}

header img{
  display: block;
  width: 20px;
  height: auto;
  padding-bottom: 5px ;
}

header span{
  font-size: 1.2rem;
  color: var(--Primary-color);
}

/* hamburger navigation */
.hamburger {
  background: none;
  border: none;
  color: var(--Primary-color);
  cursor: pointer;
}

.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}

/* "\2630" it is called entity */
.hamburger.show::before {
  content: "\00D7";
  font-size: 2rem;
}

/* navigation */
.navigation {
  display: none;
}

.navigation.show{
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a{
  display: block;
  padding: .8rem 10px;
  color: var(--Primary-color);
  text-decoration: none;
  border-bottom: solid 1px var(--Slate-Gray);
}

.navigation li.current{
  background-color: var(--Off-White);
}

.navigation a:hover{
  background-color: var(--Primary-color);
  color: var(--Off-White);
}

h1 {
  margin-left: 10px;
  color: var(--Primary-color);
}

/* footer */
footer {
  background-color: var(--Slate-Gray);
  padding: 1rem 10px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--Off-White) solid 1px;
  border-radius: 22px;
  width: 44px;
  height: 44px;
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover{
  background-color: var(--Off-White);
}

h2{
  background-color: var(--Secondary-color);
  color: var(--Off-White);
  text-align: center;
  margin-top: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box{
  margin: 2rem;
  border: solid 1px var(--Slate-Gray);
  overflow: visible;
  background-color: var(--Off-White);
}

.box p{
  padding: 1rem;
  font-family: "Lato";
  font-size: 17px;

}

.box img{
  display: block;
  margin: 0 auto 1.5rem;
  border-radius: 10px;  
  width: 300px;
  height: auto;
  padding-bottom:0;

}

.full-box{
  margin: 2rem;
  border: solid 1px var(--Slate-Gray);
  text-align: center;
  background-color: var(--Off-White);

} 
.full-box p{
  font-family: "Lato";
  font-size: 17px;
}
/* The courses selected */
#courseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  border-radius: 20px;
}
.course-card.completed {
  border: 2px solid var(--completed);
  background-color: var(--completed-border);
  border-radius: 20px;
  position: relative;
}

.course-card.completed::after {
  content: "✔";
  color: var(--completed);
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 28px;
}

/* CSE/WDD with its info- greens */
.course-card {
  border: 2px solid var(--Slate-Gray);
  border-radius: 20px;
  width: 300px;
  padding: 0;
  text-align: center;
  margin: .25rem;
  font-size: 15px;
}

#allBtn, #WDDBtn, #CSEBtn {
  background-color: var(--Off-White);
  border-radius: 8px;
  margin: .5rem;
  font-size: 20px;
}

#allBtn:hover,
#WDDBtn:hover, 
#CSEBtn:hover {
  background-color: var(--Primary-color);
  color: var(--Off-White);
  font-weight: 700;
  cursor: pointer;
}